[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "seqArchR"]
	path = seqArchR
	url = https://github.com/snikumbh/seqarchr
[submodule "seqArchRplus"]
	path = seqArchRplus
	url = https://github.com/snikumbh/seqarchrplus
